/* Buttons */
.btn {
  width: 335px;
  height: 46px;
  border-radius: 6px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;          /* medium = 500 */
  font-size: 16px;
  line-height: 17px;
  font-family: "Rubik", sans-serif;
  letter-spacing: 0px;
}

.btn.primary {
  background: #6C25FF;
  color: #fff;
}

.btn.ghost {
  background: #6C25FF4B; /* subtle purple background */
  color: #1D2226; /* purple text for visibility */
  border: none;
}
.btn.disabled {
  background: #CBCBCB;
  color: #FFFFFF;
  cursor: not-allowed;
}