/* App header */
.app-header {
   width: 375px;
  height: 68px;

  background-color: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.03);

  opacity: 1;
}

.app-header-inner {
  height: 68px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: #1D2226;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;          /* normal = 400 */
  font-size: 18px;
  line-height: 21px;
  font-family: "Rubik", sans-serif;

  letter-spacing: 0px;
  color: #1D2226;
  text-transform: capitalize;
  opacity: 1;
}
