/* Profile image wrapper */
.profile-root {
  position: relative;
  border-radius: 999px;
  display: inline-block;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 999px;
  display: block;
}

.camera-btn {
  position: absolute;
  right: -3px;
  bottom: -1px;
  width: 21px;
  height: 23px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  padding: 4px;
  cursor: pointer;
}

.camera-btn img {
  width: 21px;
  height: 23px;
}
